fastapi
uvicorn
python-multipart
pydantic
pydantic-settings
python-dotenv
numpy
opencv-python
pillow
ultralytics
transformers
torch
torchvision
scipy
shapely
onnxruntime
segment-anything
