annotated-types
anyio
certifi
charset-normalizer
click
colorama
contourpy
cycler
fastapi
filelock
fonttools
fsspec
h11
httptools
idna
Jinja2
kiwisolver
MarkupSafe
matplotlib
mpmath
networkx
numpy
opencv-python
packaging
pillow
polars
psutil
pydantic
pydantic-settings
httpx
pyparsing
python-dateutil
python-dotenv
python-multipart
PyYAML
requests
scipy
setuptools
shapely
six
starlette
sympy
torch
torchvision
triton
typing_extensions
ultralytics
ultralytics-thop
urllib3
uvicorn
watchfiles
websockets
transformers
onnxruntime
segment-anything
pandas
onnx
onnxruntime-gpu
sqlmodel
alembic
